<div class="container">
    <div class="row justify-content-center align-items-center " style="height: 100vh;">
        <h1 class="custom-bold">
            Request a new institution or brand
        </h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row"
                style="background:rgb(207, 207, 207); border-radius: 5px; padding: 0.5rem; margin-bottom: 1rem;">
                <div class="col-md-12">
                    <p>
                        Please enter the institution as "Partner", the legal entity.
                    </p>
                    <p>
                        The name of the institution should be in its official language.
                        (e.g. For CIAT: Centro Internacional de Agricultura Tropical.)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-8 text-right">
                            <p>Is this institution a brand?</p>
                        </div>
                        <div class="col-md-2 text-center">
                            <button class="btn unselected_button" [ngClass]="{'selected_button' : isBrand}"
                                (click)="showHeadquarter(true, $event)">
                                YES
                            </button>
                        </div>
                        <div class="col-md-2 text-center">
                            <button class="btn unselected_button" [ngClass]="{'selected_button' : !isBrand}"
                                (click)="showHeadquarter(false, $event)">
                                NO
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-4">
                    <p *ngIf="invalid_form" class="text-danger text-right">
                        You have not completed all the fields
                    </p>
                </div>
            </div>
            <div class="row" *ngIf="isBrand">
                <div class="col-md-12 mb-3">
                    <div style="border-left: 5px solid #4CAF50; padding: 0 0 0 1rem;">
                        <select class="form-control select-normal" formControlName="headquarter"
                            [ngClass]="{ 'is-invalid': f.headquarter.errors && f.headquarter.touched }">
                            <option [ngValue]="null" [disabled]="true">{{placeholderText.headquarter}}</option>
                            <option [ngValue]="partner" *ngFor="let partner of partners">
                                {{partner?.name}}
                            </option>
                        </select>
                        <p class="form-validation form-validation-select" *ngIf="f.headquarter.errors && f.headquarter.touched">
                            {{warningText.headquarter}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="acronym" aria-describedby="acronymHelp"
                            placeholder="{{placeholderText.acronym}}" formControlName="acronym"
                            [ngClass]="{ 'is-invalid': f.acronym.errors && f.acronym.touched }">
                    </div>
                    <p class="form-validation" *ngIf="f.acronym.errors && f.acronym.touched">{{warningText.acronym}}</p>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                            placeholder="{{placeholderText.name}}" formControlName="name"
                            [ngClass]="{ 'is-invalid': f.name.errors && f.name.touched }">
                    </div>
                    <p class="form-validation" *ngIf="f.name.errors && f.name.touched">{{warningText.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control select-normal" formControlName="type"
                        [ngClass]="{ 'is-invalid': f.type.errors && f.type.touched }">
                            <option [ngValue]="null" [disabled]="true">{{placeholderText.type}}</option>
                            <option [ngValue]="type" *ngFor="let type of typePartner">
                                {{type}}
                            </option>
                        </select>
                    <p class="form-validation form-validation-select" *ngIf="f.type.errors && f.type.touched">{{warningText.type}}</p>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="country" placeholder="{{placeholderText.country}}"
                            formControlName="country"
                            [ngClass]="{ 'is-invalid': f.country.errors && f.country.touched }">
                    </div>
                    <p class="form-validation" *ngIf="f.country.errors && f.country.touched">{{warningText.country}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="city" placeholder="{{placeholderText.city}}"
                            formControlName="city" [ngClass]="{ 'is-invalid': f.city.errors && f.city.touched }">
                    </div>
                    <p class="form-validation" *ngIf="f.city.errors && f.city.touched">{{warningText.city}}</p>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="partnerUrl" aria-describedby="partnerUrlHelp"
                            placeholder="{{placeholderText.partnerUrl}}" formControlName="partnerUrl"
                            [ngClass]="{ 'is-invalid': f.partnerUrl.errors && f.partnerUrl.touched }">
                    </div>
                    <p class="form-validation" *ngIf="f.partnerUrl.errors && f.partnerUrl.touched">
                        {{warningText.partnerUrl}}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <button type="submit" class="btn custom-button-primary btn-block">Request Add New Partner</button>
                    <p class="small mt-4 text-black-50"></p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 text-center">
                    <button class="btn custom-button-primary" (click)="cancelEvent($event)" routerLink="/partners">
                        Check Partners
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>