$danger: #ff4136;
$good: #4CAF50;
$normal: gray;

.custom-button-primary {
    background: $good;
    color: white;
}

.custom-bold {
    font-weight: bold;
}

.form-validation {
    background: rgba(255, 64, 54, 0.17);
    color: $danger;
    border-radius: 4px;
    font-size: 12px;
    padding: 3px 10px;
    margin-top: -14px;
    line-height: 12px;
    margin-right: 1px;
}

.form-validation-select {
    margin-top: 0px;
}

.selected_button {
    background: $good !important;
    color: white;
}
.unselected_button {
    background: $normal;
    padding: 0;
    color: white;
}